.banner {
  padding: 0;
  background-color: #52575c;
  color: white;
}

.banner-text {
  padding: 8px 20px;
  margin: 0;
}


#join-form {
  margin-top: 10px;
}

.tips {
  font-size: 12px;
  margin-bottom: 2px;
  color: gray;
}

.join-info-text {
  margin-bottom: 2px;
}

.join-info-group input {
  width: 100%;
  margin-bottom: 2px;
}

.player {
  width: 480px;
  height: 320px;
}

.player-name {
  margin: 8px 0;
}

#success-alert, #success-alert-with-token {
  display: none;
}

.input-group {
  display: inline-flex;
  width: auto;
  vertical-align: middle;
}

.button-group {
  margin-bottom: 10px;
}

.button-group .btn {
  vertical-align: middle;
  margin-bottom: 2px;
}

@media (max-width: 640px) {
  .player {
    width: 320px;
    height: 240px;
  }
  .audio-bar {
    width: 60% !important;
  }
}

.play-button {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
}

.audio-bar {
  display: inline-block;
  vertical-align: middle;
  width: 320px;
}

.audio-time {
  display: inline-block;
  vertical-align: middle;
}

.progress-bar {
  transition: none;
}

.play {
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 12px solid #2c3e50;
  transform: translate(10px, 5px);
  position: relative;
  z-index: 1;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  left: 2px;
}
.play:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -23px;
  bottom: -15px;
  right: -7px;
  border-radius: 50%;
  border: 2px solid #2c3e50;
  z-index: 2;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  box-sizing: content-box;
}
.play:after {
  box-sizing: content-box;
  content: "";
  opacity: 0;
  transition: opacity 0.6s;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
}
.play:hover:before {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}
.play.active {
  border-color: transparent;
}
.play.active:after {
  content: "";
  opacity: 1;
  width: 10px;
  height: 16px;
  background: #2c3e50;
  position: absolute;
  right: 1px;
  top: -8px;
  border-left: 4px solid #2c3e50;
  box-shadow: inset 6px 0 0 0 #f9f9f9;
}