.agora-header {
  padding: 0 20px;
  display: flex;
  align-items: center;
  height: 40px;
  background-color: #52575c;
  color: white;
  cursor: pointer;
}

.agora-header img{
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

.agora-header .title {
  flex: 1 1 auto;
}

.agora-header .login {
  flex: 0 0 auto;
  margin-right: 20px;
  line-height: 40px;
}


.agora-header .language {
  flex: 0 0 auto;
  margin-right: 20px;
  line-height: 40px;
}

.agora-header .logo {
  flex: 0 0 auto;
}
