.banner {
  padding: 0;
  background-color: #52575c;
  color: white;
}

.banner-text {
  padding: 8px 20px;
  margin: 0;
}


#join-form {
  margin-top: 10px;
}

.tips {
  font-size: 12px;
  margin-bottom: 2px;
  color: gray;
}

.join-info-text {
  margin-bottom: 2px;
}

input {
  width: 100%;
  margin-bottom: 2px;
}

.player {
  width: 480px;
  height: 320px;
}

.player-name {
  margin: 8px 0;
}

#pre-local-player {
  width: 240px;
  height: 180px;
}

#success-alert, #success-alert-with-token {
  display: none;
}

#device-wrapper {
  margin-top:12px;
  display: none;
  justify-content: space-between;
}

.progress {
  margin-bottom: 10px;
}

.progress-bar {
  transition-duration: .3s;
}

#device-wrapper .input-group {
  flex-basis: 49%;
}

@media (max-width: 640px) {
  .player {
    width: 320px;
    height: 240px;
  }
}