body {
  margin: 0;
  padding: 0;
}

.padding-20 {
  padding: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}



@media screen and (min-width: 576px) {
  .responsive-ml {
    margin-left: 8px;
  }
}

@media screen and (max-width: 576px) {
  .ant-modal-content {
    padding: 19px 8px !important;
  }
}
