.jumbotron {
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.card .bd-placeholder-img {
  width: 100%;
  height: 225px;
  background: #55595c;
}

.card .video-element {
  width:100%;
  height: 100%;
}

.card text {
  color: #eceeef;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
