.index-page {
  overflow: hidden;
  padding: 15px;
}

.index-page .text {
  height: 42px;
}

.index-page .card-footer {
  text-align: end;
}

@media screen and (max-width: 768px) {
  .index-page .card-footer {
    text-align: center !important;
  }

  .index-page .ant-card-body {
    padding: 12px !important;
  }
}
