body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.mt-10{
  margin-top: 10px;
}

.padding-20 {
  padding: 20px;
}

a {
  color: #099DFD;
  text-decoration: none;
}

.active{
  color: #099DFD;
}


.text{
  height: 32px;
  line-height: 32px;
  font-size: 22px;
}
